@media (max-width: 1000px) { 

    .back{
        background-image: url("IMG_baloon_forphone.jpg");
        background-size: cover;
    }

    .title h1{
        font-size: 70px;
        padding-left: 30px;
    }

    .plan-left{
        display: inline-block;
        padding-left: 100px;
    }
    
    .plan{
        width: 100%;
    }

    .plan-right{
        font-size: 60px;
    }

    .first-choise li{
        font-size: 20px;
        text-align: center;
        padding:30px, 15px;
    }

    .unshow{
        color: teal;
        font-size: 60px;
    }

    .reset-btn{
        color: white;
        font-size: 40px;
    }

    /* モーダル */
    .modal {
        top: 100px;
        left: 25px;
        width: 610px;
        height: 550px;
    }
    
    .modal h2{
        font-size: 50px;
    }

    .first-choise{
        width: 100%;
    }

    .show-btn {
        width: 100%;
        font-size: 40px;
        padding:10px ;
    }

    .modal-img{
        height: 400px;
        width: 600px;
    }

}
