@media (max-width: 1000px) { 

    .back{
        background-image: url("IMG_baloon_forphone.jpg");
        background-size: cover;
    }

    .title-text{
        font-size: 70px;
        text-align: center;
        padding-right: 200px;
    }
    
    .plan{
        width: 100%;
    }

    .plan-left{
        padding-left: 20px;
        padding-right: 200px;
    }

    #entrance, .arnest, .countrybare{
        height: 900px;
        width: 730px;
    }

    .plan-right h3{
        font-size: 70px;
        padding: 30px 0;
    }

    .first-choise li{
        margin: 30px 0;
        font-size: 65px;
        text-align: center;
        padding:20px, 15px;
        border-radius: 10px;
    }

    .unshow{
        padding-top: 20px;
    }

    .unshow-pure, .unshow-bbm, .unshow-second{
        color: tomato;
        font-size: 80px;
    }

    .unshow-bbm{
        line-height: 87px;
    }
    
    .unshow-second{
        color: tomato;
        font-size: 70px;
    }

    .reset-btn{
        color: white;
        font-size: 55px;
        border-radius: 10px;
        width: 300px;
        margin-top: 30px;
    }

    .first-choise{
        width: 100%;
    }

    /* モーダル */
    .modal {
        top: 150px;
        left: 50px;
        width: 90%;
        height: 60%;
    }
    
    .modal h2{
        font-size: 60px;
        text-align: center;
    }

    .show-btn{
        margin-top: 50px;
    }

    #first-btn, #second-btn {
        width: 90%;
        font-size: 60px;
        padding:10px ;
        margin:30px 0;
        text-align: center;
        border-radius: 10px;
    }

    .modal-img{
        height: 450px;
        width: 650px;
    }

}
