@media (max-width: 1000px) { 

    .back{
        background-image: url("IMG_baloon_forphone.jpg");
        background-size: cover;
    }

    .title h1{
        font-size: 70px;
    }
    .plan{
        width: 100%;
    }


    /* モーダル */
    .modal {
        width: 700px;
        height: 700px;
    }
    
    .modal h2{
        font-size: 50px;

    }
    .first-choise{
        width: 100%;
    }
    .show-btn {
        width: 100%;
        font-size: 30px;
    }

}
